.grid {
  max-width: 1184px;

  margin: 118px auto 92px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 16px;
}
.grid {
  max-width: 1184px;

  margin: 118px auto 92px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 16px;
}

.grid img {
  width: 100%;

  display: block;

  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);

    gap: 14px;
  }

  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 1fr;

    gap: 12px;

    margin: 64px 16px;
  }
}
