.places {
  max-width: 987px;
  margin: 92px auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title website"
    "image content";
  gap: 48px 40px;
  margin-bottom: 80px;
}
