.place__button {
  border-radius: 4px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  transition: 0.3s ease;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(#6be454, #57d9ba);
}
